<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enbauges - Admin</title>
    <link rel="stylesheet" href="/admin/public/main.css">
</head>

<body>
    <div id="app" style="display:none" v-show="showApp"
    :class="{
        with_sidebar: showSidebar,
        no_sidebar: !showSidebar
    }"
    >
        
        <div class="layout">
            <div v-if="!showSidebar"></div>
            <div class="sidebar" v-if="showSidebar">
                <ul>
                    <li @click="preview()" :class="{active:section==='preview'}">
                        Preview
                    </li>
                    <li @click="openWebsite()" :class="{active:section==='openWebsite'}">
                        Open website
                    </li>
                    <li @click="goto('pages')" :class="{active:section==='pages'}">
                        Pages
                    </li>
                    <li @click="goto('themes')" :class="{active:section==='themes'}">
                        Themes
                    </li>
                    <li @click="goto('errors')" :class="{active:section==='errors'}">
                        Errors&nbsp;<span v-show="serverErrors.length>0" v-text="'('+serverErrors.length+')'"></span>
                    </li>
                </ul>
            </div>
            <iframe src="/?iframe=1" v-if="section==='preview'">

            </iframe>
        </div>

        <login-section/>

        <page-preview ref="pagePreview"  :visible="showPagePreview" :path="page.path"
        @back="backFromPagePreview"
        >
            </page-preview>

        <right-popup-id-selector
        ref="rightPopupIdSelector"
        :visible="rightPopup==='rightPopupIdSelector'"
        :right-popup-style="rightPopupStyle"
        @opened="rightPopup  = 'rightPopupIdSelector'"
        @closed="rightPopup  = ''"
        ></right-popup-id-selector>
        
        <div  class="rightSidebar" v-show="rightSidebar==='editPage'"
        ref="editPageSidebar"
        >
            <div class="draggable_bar" @mousedown="resizeElementX($event,'editPageSidebar')"></div>
            <div class="rightSidebar__content">
                <button v-show="canPreviewPage" @click="previewPage">Preview</button>
                <button @click="applyTemplate">Apply template</button>
                <hr/>
                <div class="page_form_field">
                    <label>Name</label>
                    <input v-model="page.name"
                    @change="normalizePageName"
                    />
                </div>
                <div class="page_form_field">
                    <label>Is Template?</label>
                    <input type="checkbox" v-model="page.isTemplate" />
                </div>
                <div class="page_form_field">
                    <label v-show="!page.isTemplate">Path</label>
                    <input v-show="!page.isTemplate" v-model="page.path" @change="normalizePagePath('page.path')"/>
                </div>
                <div class="page_form_field">
                    <label>Theme Template</label>
                    <theme-template-selector v-model="page.template"
                    @input="savePageInternal"
                    >
                        </theme-template-selector>
                </div>
                <div class="page_form_field">
                    <label>Tags</label>
                    <input v-model="page.tags" />
                </div>
                <div>
                    <div v-for="(item, index) in page.sections">
                        <div>
                            <label v-text="item.name" placeholder="name">
                            </label>
                            <input :disabled="true"
                            :value="getPageSectionValue(item)"
                            placeholder="value"
                            />
                            <button v-on:click="editSection(item)">Edit</button>
                        </div>                        
                    </div>
                    <button style="margin-top:5px" @click="addPageSection" v-show="page._id">Add section</button>
                </div>
                <div v-show="error" class="error_message" @click="error=''">
                    {{error}}
                </div>
                <div class="page_toolbar">
                    <button :disabled="savePageDisabled" @click="savePage">Save changes</button>
                    <button @click="cancelPage">Cancel</button>
                    <button class="button_remove" v-show="page._id" @click="removePage">Remove</button>
                </div>
            </div>
        </div>

        <div class="rightPopup" :style="rightPopupStyle" v-show="rightPopup==='editSection'">
            <div class="rightPopup__content section_details">
                <input type="range" value="100" min="0" step=5 max="80" v-model="innerRightPopupStyle.width" style="width:100%">
                <div ref="sectionTitle" class="section_title" contenteditable="true"
                @input="onSectionName"
                >
                </div>
                <div class="section_field">
                    <label class="section_label">
                        Type
                    </label>
                    <select v-model="selectedSection.type">
                        <option value="text">text</option>
                        <option value="html">html</option>
                        <option value="address">address</option>
                        <option value="single_image">single_image</option>
                    </select>
                </div>
                <div class="section_field">
                    <label class="section_label">Value</label>
                    <input v-model="selectedSection.value" v-show="selectedSection.type==='text'"/>
                    <textarea v-model="selectedSection.value" v-show="selectedSection.type==='html'"></textarea>
                    <geo-address v-model="selectedSection.value" v-show="selectedSection.type==='address'"></geo-address>
                    <image-upload :url="uploadUrl" :post-params="getSectionUploadPostParams" v-model="selectedSection.value" v-show="selectedSection.type==='single_image'"></image-upload>

                </div>
                <button @click="saveSection">Save changes</button>
                <button class="button_remove" v-show="selectedSection._id" @click="removePageSection">Remove</button>
                <button @click="closeSection">Cancel</button>
            </div>
        </div>

        <div class="section" v-show="section=='errors'">
            <textarea class="errors_area" :value="errorsHTML"></textarea>
        </div>

        <div class="section section__content" v-show="section=='pages'">
            <label class="section__title">Pages</label>
            <pages-filters v-model="pagesFilters"></pages-filters>
            <div v-for="(item, index) in customPages" class="page__item" @click="editPage(item)">
                <label>{{item.name}}</label>
                <span class="pages_list__item__template_label" v-show="item.isTemplate">(Template)</span>
            </div>
            <button @click="addPage">Add Page</button>
        </div>
        <div class="section" v-show="section=='params'">
            <div class="form">
                <div>
                    <label>Navbar title</label>
                    <textarea placeholder="Enter text"
                        @input="onSectionTextUpdate($event,'navbar','navbar_title') && onChange()"
                        :value="sectionValue('navbar','navbar_title')">
                    </textarea>
                </div>
                <div>
                    <label>Contact email</label>
                    <input @input="onSectionTextUpdate($event,'_settings','contact_email') && onChange()"
                        :value="sectionValue('_settings','contact_email')" />
                </div>
                <div>
                    <button :disabled="!dirty" @click="save">Enregistrer</button>
                </div>
            </div>
        </div>

        <div class="section" v-show="section=='home'">
            <div class="form">
                <div>
                    <label>Header message</label>
                    <textarea placeholder="Enter text"
                        @input="onSectionTextUpdate($event,'home','header_message') && onChange()"
                        :value="sectionValue('home','header_message')">
                    </textarea>
                </div>

                <div>
                    <label>Presentation message</label>
                    <textarea placeholder="Enter text"
                        @input="onSectionTextUpdate($event,'home','presentation_message') && onChange()"
                        :value="sectionValue('home','presentation_message')" style="min-height:200px">
                    </textarea>
                </div>
            </div>

            <div>
                <button :disabled="!dirty" @click="save">Enregistrer</button>
            </div>
        </div>

        <div class="section" v-show="section=='about'">
            <div class="form">


                <div>
                    <label>About message</label>
                    <textarea placeholder="Enter text"
                        @input="onSectionTextUpdate($event,'about','about_message') && onChange()"
                        :value="sectionValue('about','about_message')" style="min-height:400px">
                        </textarea>
                </div>


                <div>
                    <button :disabled="!dirty" @click="save">Enregistrer</button>
                </div>
            </div>
        </div>

        <Themes :right-popup-style="rightPopupStyle" :parent="$data" @preview="themePreview"/>

    </div>


    </div>


    <script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js" crossorigin="anonymous" integrity="sha256-T5QdmsCQO5z8tBAXMrCZ4f3RX8wVdiA0Fu17FGnU1vU=" ></script>
    <script src="https://pagecdn.io/lib/ace/1.4.12/theme-monokai.min.js" crossorigin="anonymous"  ></script>
    <script src="https://pagecdn.io/lib/ace/1.4.12/mode-javascript.min.js" crossorigin="anonymous"  ></script>
    <script src="https://pagecdn.io/lib/ace/1.4.12/mode-jade.min.js" crossorigin="anonymous"  ></script>
    
    <script src="https://pagecdn.io/lib/ace/1.4.12/worker-javascript.min.js" crossorigin="anonymous"  ></script>
    <script src="https://pagecdn.io/lib/ace/1.4.12/snippets/javascript.min.js" crossorigin="anonymous"  ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="/admin/public/libs/localforage.min.js"></script>
    <script type="module">
        import('/admin/public/main.js')
    </script>
</body>

</html>