.layout{
    display:grid;
    grid-template-columns: 230px 1fr;
}

body{
    margin:0px;
}

.sidebar li{
    cursor:pointer;
}
.sidebar li.active{
    font-weight: bold;
}

iframe{
    width:100%;
    border: 0px;
    height: calc(100vh);
}

.section{
    position: fixed;
    left:0px;
    width:calc(100vw);
    height:calc(100vh);
    top:0px;
    background-color:rgba(255,255,255,0.8);
}
.with_sidebar .section{
    left:230px;
    width:calc(100vw - 230px);
}

.rightSidebar{
    position: fixed;
    right:0px;
    width:calc(100vw);
    height:calc(100vh);
    top:0px;
    background-color:rgba(255,255,255,0.8);
    outline:1px dashed black;
    z-index: 10;
}

@media (min-width: 768px) { 
    .rightSidebar{
        max-width: calc(100vw - 230px - 100px);
    }
    .rightSidebar.full{
        max-width: calc(100vw);
    }
}
.rightSidebar__content, .rightPopup__content{
    margin:15px;
}

.draggable_bar{
    position:absolute;
    top:0px;
    left:-4px;
    width:4px;
    height:calc(100vh);
    background-color:grey;
    cursor: e-resize;
}

.rightPopup{
    position: fixed;
    right:0px;
    width:calc(100vw);
    height:calc(100vh);
    top:0px;
    background-color:rgba(255,255,255,0.8);
    outline:1px dashed black;
    z-index: 15;
}
@media (min-width: 480px) { 
    .rightPopup{
        max-width: 300px;
    }
}

.page_form_field{
    margin-bottom:10px;
}
.page_toolbar{
    margin-top:15px;
    display:flex;
    column-gap: 5px;
}
.error_message{
    padding:15px;
    color:white;
    background-color:firebrick;
    margin-bottom:15px;
}
.button_remove{
    background-color:firebrick;
    color:white;
}
.form{
    padding:20px;
}
.form label{
    font-size:18px;
}
.form textarea{
    width:100%;
    min-height: 50px;
}
.form input, .form textarea{
    border:0px;
    border-bottom: 2px solid grey;
}
.form input:active,.form input:focus,.form input:hover{
    outline:0px;
}
.form textarea:active,.form textarea:focus,.form textarea:hover{
    outline:0px;
}

.page__item{
    margin: 5px 0px;
    padding: 2px 5px;
    font-weight: bold;
    font-variant-caps: petite-caps;
    font-family: sans-serif;
    outline: 1px solid black;
    background-color: white;
    width: calc(50vw - 230px);
}
.page__item:hover{
    background-color:blueviolet;
    color:white;
    cursor:pointer;
}
.page__item label:hover{
    cursor: pointer;
}
.section__title{
    font-size:25px;
    font-weight: bold;
    margin-bottom:10px;
    display:block;
    background: white;
    border: 1px solid black;
    padding: 3px;
}
.section__content{
    padding:15px;
}
.section_details .section_title{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: lowercase;
    font-family: sans-serif;
}
.section_label{
    margin-bottom:5px;
    display:block;
}
.section_field{
    margin-bottom:10px;
}
.section_field textarea{
    min-height:150px;
    width:100%;
}

.drag-drop{
    width: 100%;
    /* height: 100px; */
    background-color: #1caff6;
    margin-top: 30px;
    border-radius: 10px;
    border: dashed 2px white;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 14pt;
    transition: .5s background-color, .5s color;
    height: 100px;
    font-family:inherit;
}

.drag-drop.dragover{
    background-color: #0e384c;
    color: white;
}

.drag-drop.uploading{
    background-color: #0e384c;
    color: white;
}

.image_upload__img{
    max-width:100%;
    max-height: 100%;
}
.errors_area{
    width:100%;
    min-height: calc(100vh);
    padding:10px;
}

.themes_view .themes_item{
    min-height: 100px;
    min-width: 100px;
    background-color: white;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    max-width: max-content;
    padding: 10px;
    cursor: pointer;
    font-size: xx-large;
    font-variant-caps: all-petite-caps;
    margin: 20px;
}
.themes_view .themes_item:hover{
    background-color: rgba(255,255,255,0.8);
    color:grey;
}
.themes_view .ace_editor{
    width:calc(100vw);
    min-height:300px;
    z-index: 11;
}
.themes_view .theme_details{
    display:grid;
    grid-template-columns: 200px 1fr;
}
.themes_view .theme_file{
    cursor: pointer;
}
.themes_view__preview{
    transform: rotate(-90deg);
    position: fixed;
    right:-30px;
    width:80px;
    top:80px;
    z-index:10;
}
@media (min-width: 768px) { 

}

.page_preview{
    background-color:white;
    position: fixed;
    top:0px;
    left:0px;
    width:calc(100vw);
    z-index: 5;
}
@media (min-width: 768px) { 

}

.pick_up_popup{
    position: fixed;
    top:0px;
    left:0px;
    width:calc(100vw);
    background-color: rgba(255,255,255,0.8);
    height: calc(100vh);
    overflow-y: auto;
    z-index: 100;
    padding:20px;
}
.pick_up_popup__item{
    margin:10px 0;
}
.pick_up_popup__item:hover{
    cursor: pointer;
    color:grey;
}

.pages_list__item__template_label{
    font-size:12px;
    color:grey;
}

.pages_filters__title{
    font-size:16px;
    font-weight: bold;
}
.pages_filters__add_to_favorites{
    margin-top:10px;
}
.pages_filters__list{
    margin-top:15px;
}
.pages_filters__remove_icon{
    font-size:9px;
    background-color: firebrick;
    color:white;
}
.pages_filters__list__item{
    margin:5px 0px;
}

button{
    cursor: pointer;
}

.login_section{
    background-color:#5b5b6e;
}
.login_section__form{
    position:fixed;
    width:250px;
    left: calc((100vw / 2) - 125px );
    background-color:white;
    padding:20px;
    top: calc((100vh / 2) - 200px);
    border-radius: 5px;
}
.login_section__form input{
    width: 100%;
    border: 0px;
    border-bottom: 1px dashed #80808063;
    padding: 10px 0px;
    color: #4b4646;
}
.login_section__form input:hover,.login_section__form input:active,.login_section__form input:focus{
    outline:0;
}
.login_section__form label{
    display: block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: system-ui;
}
.login_section__form button{
    background-color: #8181b9;
    padding: 10px;
    font-weight: bold;
    color: white;
    border: 0px;
    min-width: 100px;
    border-radius: 3px;
    font-family: monospace;
    font-size: small;
    margin-top:15px;
}
.login_section__form button:hover{
    opacity:0.9;
}
.login_section__form button:focus,.login_section__form button:active,.login_section__form button:hover{
    outline:0px;    
}
.login_section__form__remember{
    display: flex;
    width: fit-content;
    align-items: flex-end;
    text-align: left;
}
.login_section__form__remember input{
    width: fit-content;
}